#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_install:
	# Make sure the destination directory exists
	mkdir -p debian/solv/usr/bin/
	mkdir -p debian/solv/usr/share/solv/

	# Check if index.js exists in the expected location
	if [ ! -f usr/share/solv/index.js ]; then
		echo "Error: index.js is not found in usr/share/solv/"
		exit 1
	fi

	# Install the solv script to the appropriate location
	echo '#!/bin/sh' > solv
	echo 'node /usr/share/solv/index.js' >> solv
	chmod +x solv
	install -m 755 solv debian/solv/usr/bin/

	# Install the index.js file
	install -m 644 usr/share/solv/index.js debian/solv/usr/share/solv/
